@charset "UTF-8";

:root {
  --primary: #ffffff;
  --secondary: #6257FE;
  --bg-primary: #ffffff;
  --bg-secondary: #6257FE;
  --bg-accent: #100C46;
  --bg-opacite: #6257FECC;
  --bg-form: #F4F3FF;
  --text-primary: #FFFFFF;
  --text-primary-opacity: #FFFFFFCC;
  --text-secondary: #100C46;
  --text-secondary-opacity: #100C46CC;
  --text-accent: #6257FE;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.heading-block_light .heading-block__subtitle {
  color: var(--primary);
}

.heading-block_light .heading-block__title {
  color: var(--primary);
}

.heading-block_dark .heading-block__subtitle {
  color: var(--text-accent);
}

.heading-block_dark .heading-block__title {
  color: var(--text-accent);
}

.heading-block_center {
  text-align: center;
}

.heading-block__subtitle {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-accent);
}

.heading-block__subtitle:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.heading-block__title {
  color: var(--text-secondary);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  line-height: 1.25;
}

.text {
  line-height: 1.6;
}

.button {
  display: inline-block;
  min-width: 12rem;
  padding: 1.1875rem 2.875rem;
  background-color: var(--primary);
  color: var(--text-secondary);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.7777777778;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3019607843);
          box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3019607843);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--bg-accent);
  color: var(--text-primary);
}

.button_dark {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(98, 87, 254, 0.3019607843);
          box-shadow: 0px 10px 30px 0px rgba(98, 87, 254, 0.3019607843);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button_dark:hover {
  background-color: var(--primary);
  color: var(--text-secondary);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loaded .lifting {
  opacity: 0;
  -webkit-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
          transform: translate(0, 25%);
  -webkit-transition: opacity 0.4s, -webkit-transform 0.5s;
  transition: opacity 0.4s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.4s;
  transition: transform 0.5s, opacity 0.4s;
  transition: transform 0.5s, opacity 0.4s, -webkit-transform 0.5s;
}

.loaded .lifting_strong {
  -webkit-transform: translate(0, 40%);
      -ms-transform: translate(0, 40%);
          transform: translate(0, 40%);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.6s;
  transition: opacity 0.5s, -webkit-transform 0.6s;
  -o-transition: transform 0.6s, opacity 0.5s;
  transition: transform 0.6s, opacity 0.5s;
  transition: transform 0.6s, opacity 0.5s, -webkit-transform 0.6s;
}

.loaded .lifting_async:nth-child(2n+2) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.loaded .lifting._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.loaded .sliding {
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.loaded .sliding_right {
  -webkit-transform: translate(25%, 0);
      -ms-transform: translate(25%, 0);
          transform: translate(25%, 0);
}

.loaded .sliding_left {
  -webkit-transform: translate(-25%, 0);
      -ms-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
}

.loaded .sliding_async-4:nth-child(1n+1) {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.loaded .sliding_async-4:nth-child(1n+2) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.loaded .sliding_async-4:nth-child(1n+3) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.loaded .sliding_async-4:nth-child(1n+4) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.loaded .sliding._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5625rem;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

.header._header-scroll {
  background-color: var(--bg-secondary);
  -webkit-filter: drop-shadow(0px 2px 15px #000);
          filter: drop-shadow(0px 2px 15px #000);
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5.75rem;
          flex: 1 0 5.75rem;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  padding-left: 1.1875rem;
}

.header__logo img {
  max-width: 100%;
}

.header__social {
  background-color: var(--bg-secondary);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10.125rem;
          flex: 0 1 10.125rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  gap: 1.5625rem;
  padding: 1.375rem 1.4375rem;
}

.header__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.3125rem;
          flex: 0 0 1.3125rem;
  width: 1.3125rem;
  height: 1.3125rem;
  aspect-ratio: 1/1;
}

.header__link svg {
  max-width: 100%;
  max-height: 100%;
  fill: var(--primary);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__rights {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  color: var(--text-secondary-opacity);
  line-height: 1.6;
}

.footer__up {
  position: fixed;
  right: 1.875rem;
  bottom: -6.25rem;
  z-index: 40;
  display: block;
  padding: 1.4375rem;
  background-color: var(--bg-secondary);
  border: 1px solid var(--primary);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__up.show {
  bottom: 1.875rem;
}

.footer__up svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--primary);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main {
  background-color: var(--bg-secondary);
}

.main__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.157480315%;
          flex: 0 0 40.157480315%;
  padding-top: 6.6875rem;
}

.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.5354330709%;
          flex: 0 0 66.5354330709%;
  position: relative;
}

.main__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--bg-accent);
}

.about__container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__text {
  color: var(--text-primary-opacity);
}

.about__image-ibg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 47.4803149606%;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(16, 12, 70, 0.2);
          box-shadow: 0px 10px 50px 0px rgba(16, 12, 70, 0.2);
}

.services {
  position: relative;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 41.3194444444%;
  height: 100%;
  background-color: var(--bg-secondary);
}

.services__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54.8031496063%;
          flex: 0 0 54.8031496063%;
  padding-right: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.services__images {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.services__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74.3902439024%;
          flex: 0 0 74.3902439024%;
  padding-bottom: 99.1289198606%;
}

.services__phone {
  position: absolute;
  left: 20%;
  bottom: -8.125rem;
}

.services__phone img {
  width: 100%;
}

.card-service__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.card-service__icon_heart svg {
  fill: transparent;
  stroke: black;
}

.card-service__icon svg {
  max-width: 100%;
  max-height: 100%;
}

.card-service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  color: var(--text-secondary);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.4545454545;
}

.card-service__title::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 0.0625rem;
  background-color: var(--bg-accent);
}

.card-service__text {
  color: var(--text-secondary-opacity);
}

.portfolio__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

.item-portfolio__image-ibg {
  display: block;
  padding-bottom: 135%;
  overflow: hidden;
}

.item-portfolio__image-ibg:hover img {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.item-portfolio__image-ibg img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.team__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.team__card {
  position: relative;
}

.card-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-team__image-ibg {
  padding-bottom: 135%;
  overflow: hidden;
}

.card-team__image-ibg:hover img {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-team__image-ibg img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-team__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.125rem;
  padding: 0.6875rem 1.125rem;
}

.card-team__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-team__name {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.card-team__name:not(:last-child) {
  margin-bottom: 0.625rem;
}

.card-team__position {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.card-team__social {
  gap: 0.8125rem;
}

.contacts {
  overflow: hidden;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3.75rem;
}

.contacts__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35.4330708661%;
          flex: 0 0 35.4330708661%;
}

.form-contacts__line {
  background-color: var(--bg-form);
  padding: 0.3125rem 0.625rem;
}

.form-contacts__line:not(:last-child) {
  margin-bottom: 1.125rem;
}

.form-contacts__label {
  color: var(--text-secondary-opacity);
  display: block;
}

.form-contacts__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.form-contacts__input {
  background-color: transparent;
  width: 100%;
  min-height: 1.875rem;
}

.form-contacts__input:focus {
  outline: 1px solid var(--bg-accent);
}

.form-contacts__textarea {
  padding: 0.3125rem 0.625rem;
  resize: vertical;
  background-color: var(--bg-form);
  width: 100%;
  min-height: 7.5rem;
}

.form-contacts__textarea:not(:last-child) {
  margin-bottom: 1.125rem;
}

.form-contacts__textarea:focus {
  outline: 1px solid var(--bg-accent);
}

.form-contacts__textarea::-webkit-input-placeholder {
  color: var(--text-secondary-opacity);
}

.form-contacts__textarea::-moz-placeholder {
  color: var(--text-secondary-opacity);
}

.form-contacts__textarea:-ms-input-placeholder {
  color: var(--text-secondary-opacity);
}

.form-contacts__textarea::-ms-input-placeholder {
  color: var(--text-secondary-opacity);
}

.form-contacts__textarea::placeholder {
  color: var(--text-secondary-opacity);
}

.form-contacts__button {
  display: block;
}

.info-contacts {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-contacts::after {
  content: "";
  position: absolute;
  top: 0;
  width: 200vw;
  height: 200%;
  left: 14.25rem;
  background-color: var(--bg-secondary);
}

.info-contacts__wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  row-gap: 2.5rem;
}

.info-contacts__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 73.9304812834%;
          flex: 0 0 73.9304812834%;
  position: relative;
  min-height: 38.5625rem;
}

.info-contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-contacts__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.875rem;
}

.info-contacts__contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-contacts__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.info-contacts__line:not(:last-child) {
  margin-bottom: 0.75rem;
}

.info-contacts__icon {
  height: 1.5625rem;
  width: 1.5625rem;
}

.info-contacts__icon svg {
  max-width: 100%;
  max-height: 100%;
  fill: var(--primary);
}

.info-contacts__title {
  font-weight: 600;
  line-height: 1.6;
}

.info-contacts__link {
  display: block;
  font-size: 1rem;
  line-height: 1.375;
}

.info-contacts__link:not(:last-child) {
  margin-bottom: 0.5rem;
}

.info-contacts__address {
  font-size: 1rem;
  line-height: 1.375;
}

@media (min-width: 29.99875em) {
  .card-team__body {
    position: absolute;
    background-color: var(--bg-opacite);
  }
}

@media (min-width: 47.99875em) {
  .main__body {
    padding-bottom: 6.0625rem;
  }
}

@media (min-width: 59.375em) {
  .info-contacts__map:not(:last-child) {
    margin-right: 2.125rem;
  }

  .info-contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4.6875rem;
  }

  .info-contacts__link {
    word-break: break-word;
  }
}

@media (min-width: 60.625em) and (min-width: 90em) {
  .about__container {
    padding-bottom: 9.25rem;
  }
}

@media (min-width: 60.625em) {
  .about__body {
    padding-right: 8.4375rem;
  }

  .about__image-ibg {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: -5.9375rem;
  }
}

@media (min-width: 71.875em) and (min-width: 90em) {
  .contacts__body {
    padding-right: 5.5625rem;
  }
}

@media (min-width: 71.875em) {
  .info-contacts__wrapper {
    padding-top: 8.875rem;
    padding-bottom: 8.875rem;
  }
}

@media (min-width: 81.25em) {
  .services__phone {
    left: 51.7421602787%;
    top: 35.1493848858%;
    height: 82.8346456693%;
    width: 59.5818815331%;
  }
}

@media (min-width: 48em) {
  .card-service__icon:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .card-service__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }
}

@media (min-width: 90em) {
  [class*=__container] {
    padding-left: 5.3125rem;
  }

  [class*=__container] {
    padding-right: 5.3125rem;
  }

  .heading-block__title {
    font-size: 3.5rem;
  }

  .footer {
    padding-top: 8.1875rem;
  }

  .footer {
    padding-bottom: 6.25rem;
  }

  [class*=__container] {
    padding-right: 5.3125rem;
  }

  [class*=__container] {
    padding-left: 5.3125rem;
  }

  .page__services:not(:last-child) {
    margin-bottom: 9.125rem;
  }

  .page__portfolio:not(:last-child) {
    margin-bottom: 10.9375rem;
  }

  .page__team:not(:last-child) {
    margin-bottom: 9.25rem;
  }

  .main__body {
    padding-right: 7.9375rem;
  }

  .main__heading:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main__text {
    margin-bottom: 4.1875rem;
  }

  .main__image {
    margin-right: -5.3125rem;
  }

  .about__container {
    padding-top: 9.25rem;
  }

  .about__heading:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .services__container {
    padding-top: 7.5rem;
  }

  .services__container {
    padding-bottom: 7.5rem;
  }

  .services__heading:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .services__cards {
    gap: 4rem;
  }

  .portfolio__heading:not(:last-child) {
    margin-bottom: 3.875rem;
  }

  .portfolio__items {
    gap: 1.4375rem;
  }

  .team__heading:not(:last-child) {
    margin-bottom: 4.8125rem;
  }

  .team__cards {
    gap: 1.4375rem;
  }

  .contacts__heading:not(:last-child) {
    margin-bottom: 4.3125rem;
  }
}

@media (max-width: 75em) {
  [class*=__container] {
    padding-right: 2.8125rem;
  }

  [class*=__container] {
    padding-left: 2.8125rem;
  }

  .main__image {
    margin-right: -0.9375rem;
  }
}

@media (max-width: 48em) {
  .main__body {
    padding-right: 2.5rem;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    padding-left: 0.9375rem;
  }

  [class*=__container] {
    padding-right: 0.9375rem;
  }

  .heading-block__title {
    font-size: 2.125rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .page__services:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .page__portfolio:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .page__team:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .main__heading:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .main__text {
    margin-bottom: 1.875rem;
  }

  .about__container {
    padding-top: 2.5rem;
  }

  .about__heading:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .services__container {
    padding-top: 3.75rem;
  }

  .services__container {
    padding-bottom: 2.5rem;
  }

  .services__heading:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .services__cards {
    gap: 2.1875rem;
  }

  .card-service__icon:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .card-service__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .portfolio__heading:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .portfolio__items {
    gap: 0.625rem;
  }

  .team__heading:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .team__cards {
    gap: 0.625rem;
  }

  .contacts__heading:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 87.93625em) {
  .card-team__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-team__social {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 81.24875em) {
  .services__image-ibg {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-bottom: 150%;
  }
}

@media (max-width: 71.87375em) {
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .info-contacts::after {
    left: -4.375rem;
  }
}

@media (max-width: 66.24875em) {
  .services__image-ibg {
    margin-right: -2.8125rem;
  }
}

@media (max-width: 61.99875em) {
  .loaded .lifting_async:nth-child(2n+2) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .loaded .sliding_async-4.card-team:nth-child(1n+4) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .footer__up {
    padding: 1.125rem;
    right: 1.25rem;
  }

  .footer__up.show {
    bottom: 1.25rem;
  }

  .main__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .main__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .services__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 60.62375em) {
  .about::before {
    width: 100%;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .about__image-ibg {
    margin: 0 -0.9375rem 0 -0.9375rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 59.37375em) {
  .info-contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .info-contacts__map {
    margin: 0 -0.9375rem 0;
    min-height: 25rem;
  }
}

@media (max-width: 54.99875em) {
  .loaded .sliding_async-4.item-portfolio:nth-child(1n+4) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
}

@media (max-width: 47.99875em) {
  .loaded .lifting_async:nth-child(2n+2) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }

  .loaded .sliding_left {
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__body {
    padding-right: 0;
  }

  .main__body:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main__button {
    width: 100%;
    text-align: center;
  }

  .main__image {
    padding-bottom: 70%;
  }

  .about__image-ibg {
    padding-bottom: 70%;
  }

  .services::after {
    display: none;
  }

  .services__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-right: 0;
  }

  .services__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .services__images {
    display: none;
  }

  .form-contacts__input {
    min-height: 2.8125rem;
  }
}

@media (max-width: 41.24875em) {
  .loaded .sliding_async-4.card-team:nth-child(odd) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .loaded .sliding_async-4.card-team:nth-child(even) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }

  .team__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 41.12375em) {
  .loaded .sliding_async-4.item-portfolio:nth-child(odd) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .loaded .sliding_async-4.item-portfolio:nth-child(even) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
}

@media (max-width: 31.24875em) {
  .loaded .lifting_async:nth-child(2n+2) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .services__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 29.99875em) {
  .loaded .lifting {
    -webkit-transform: translate(0, 15%);
        -ms-transform: translate(0, 15%);
            transform: translate(0, 15%);
  }

  .loaded .lifting_strong {
    -webkit-transform: translate(0, 20%);
        -ms-transform: translate(0, 20%);
            transform: translate(0, 20%);
  }

  .footer__up {
    padding: 0.625rem;
    right: 0.625rem;
  }

  .footer__up.show {
    bottom: 0.625rem;
  }

  .main__image {
    padding-bottom: 95%;
  }

  .about__image-ibg {
    padding-bottom: 95%;
  }

  .portfolio__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .card-team__position {
    color: var(--text-primary-opacity);
  }
}

@media (max-width: 26.24875em) {
  .card-team__body {
    padding: 0.6875rem 0.6875rem 0.9375rem 0.6875rem;
  }

  .card-team__name {
    font-size: 1.125rem;
  }
}

@media (max-width: 23.74875em) {
  .loaded .sliding_async-4.card-team:nth-child(odd) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .loaded .sliding_async-4.card-team:nth-child(even) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .team__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .card-team__image-ibg {
    padding-bottom: 100%;
  }
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (padding-left: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 4.375 * (100vw - 20rem) / 70);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 5.3125rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 4.375 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 2.125rem , 1.7321428571rem  +  1.9642857143vw , 3.5rem )) {
    .heading-block__title {
      font-size: clamp( 2.125rem , 1.7321428571rem  +  1.9642857143vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.7321428571rem  +  1.9642857143vw , 3.5rem )) {
    .heading-block__title {
      font-size: calc(2.125rem + 1.375 * (100vw - 20rem) / 70);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.0714285714rem  +  9.0178571429vw , 8.1875rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 0.0714285714rem  +  9.0178571429vw , 8.1875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.0714285714rem  +  9.0178571429vw , 8.1875rem )) {
    .footer {
      padding-top: calc(1.875rem + 6.3125 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.625rem  +  6.25vw , 6.25rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , 0.625rem  +  6.25vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.625rem  +  6.25vw , 6.25rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.4107142857rem  +  8.5714285714vw , 9.125rem )) {
    .page__services:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 1.4107142857rem  +  8.5714285714vw , 9.125rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.4107142857rem  +  8.5714285714vw , 9.125rem )) {
    .page__services:not(:last-child) {
      margin-bottom: calc(3.125rem + 6 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.8928571429rem  +  11.1607142857vw , 10.9375rem )) {
    .page__portfolio:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 0.8928571429rem  +  11.1607142857vw , 10.9375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.8928571429rem  +  11.1607142857vw , 10.9375rem )) {
    .page__portfolio:not(:last-child) {
      margin-bottom: calc(3.125rem + 7.8125 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.375rem  +  8.75vw , 9.25rem )) {
    .page__team:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 1.375rem  +  8.75vw , 9.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.375rem  +  8.75vw , 9.25rem )) {
    .page__team:not(:last-child) {
      margin-bottom: calc(3.125rem + 6.125 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.9107142857rem  +  1.0714285714vw , 1.875rem )) {
    .main__heading:not(:last-child) {
      margin-bottom: clamp( 1.125rem , 0.9107142857rem  +  1.0714285714vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.9107142857rem  +  1.0714285714vw , 1.875rem )) {
    .main__heading:not(:last-child) {
      margin-bottom: calc(1.125rem + 0.75 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2142857143rem  +  3.3035714286vw , 4.1875rem )) {
    .main__text {
      margin-bottom: clamp( 1.875rem , 1.2142857143rem  +  3.3035714286vw , 4.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2142857143rem  +  3.3035714286vw , 4.1875rem )) {
    .main__text {
      margin-bottom: calc(1.875rem + 2.3125 * (100vw - 20rem) / 70);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.5714285714rem  +  9.6428571429vw , 9.25rem )) {
    .about__container {
      padding-top: clamp( 2.5rem , 0.5714285714rem  +  9.6428571429vw , 9.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.5714285714rem  +  9.6428571429vw , 9.25rem )) {
    .about__container {
      padding-top: calc(2.5rem + 6.75 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6696428571rem  +  1.3392857143vw , 1.875rem )) {
    .about__heading:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.6696428571rem  +  1.3392857143vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6696428571rem  +  1.3392857143vw , 1.875rem )) {
    .about__heading:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.2946428571rem  +  1.3392857143vw , 2.5rem )) {
    .about__text p:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2946428571rem  +  1.3392857143vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.2946428571rem  +  1.3392857143vw , 2.5rem )) {
    .about__text p:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 70);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.6785714286rem  +  5.3571428571vw , 7.5rem )) {
    .services__container {
      padding-top: clamp( 3.75rem , 2.6785714286rem  +  5.3571428571vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.6785714286rem  +  5.3571428571vw , 7.5rem )) {
    .services__container {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0714285714rem  +  7.1428571429vw , 7.5rem )) {
    .services__container {
      padding-bottom: clamp( 2.5rem , 1.0714285714rem  +  7.1428571429vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0714285714rem  +  7.1428571429vw , 7.5rem )) {
    .services__container {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1607142857rem  +  3.5714285714vw , 4.375rem )) {
    .services__heading:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1607142857rem  +  3.5714285714vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1607142857rem  +  3.5714285714vw , 4.375rem )) {
    .services__heading:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 2.1875rem , 1.6696428571rem  +  2.5892857143vw , 4rem )) {
    .services__cards {
      gap: clamp( 2.1875rem , 1.6696428571rem  +  2.5892857143vw , 4rem );
    }
}

@supports not (gap: clamp( 2.1875rem , 1.6696428571rem  +  2.5892857143vw , 4rem )) {
    .services__cards {
      gap: calc(2.1875rem + 1.8125 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5rem  +  3.75vw , 3.875rem )) {
    .portfolio__heading:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5rem  +  3.75vw , 3.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5rem  +  3.75vw , 3.875rem )) {
    .portfolio__heading:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.625 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 0.625rem , 0.3928571429rem  +  1.1607142857vw , 1.4375rem )) {
    .portfolio__items {
      gap: clamp( 0.625rem , 0.3928571429rem  +  1.1607142857vw , 1.4375rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3928571429rem  +  1.1607142857vw , 1.4375rem )) {
    .portfolio__items {
      gap: calc(0.625rem + 0.8125 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.2321428571rem  +  5.0892857143vw , 4.8125rem )) {
    .team__heading:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.2321428571rem  +  5.0892857143vw , 4.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.2321428571rem  +  5.0892857143vw , 4.8125rem )) {
    .team__heading:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.5625 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 0.625rem , 0.3928571429rem  +  1.1607142857vw , 1.4375rem )) {
    .team__cards {
      gap: clamp( 0.625rem , 0.3928571429rem  +  1.1607142857vw , 1.4375rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3928571429rem  +  1.1607142857vw , 1.4375rem )) {
    .team__cards {
      gap: calc(0.625rem + 0.8125 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.7767857143rem  +  3.9285714286vw , 4.3125rem )) {
    .contacts__heading:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.7767857143rem  +  3.9285714286vw , 4.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.7767857143rem  +  3.9285714286vw , 4.3125rem )) {
    .contacts__heading:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.75 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 75em) and (max-width: 90em) {
@supports (padding-right: clamp( 2.8125rem , -9.6875rem  +  16.6666666667vw , 5.3125rem )) {
    [class*=__container] {
      padding-right: clamp( 2.8125rem , -9.6875rem  +  16.6666666667vw , 5.3125rem );
    }
}

@supports not (padding-right: clamp( 2.8125rem , -9.6875rem  +  16.6666666667vw , 5.3125rem )) {
    [class*=__container] {
      padding-right: calc(2.8125rem + 2.5 * (100vw - 75rem) / 15);
    }
}

@supports (padding-left: clamp( 2.8125rem , -9.6875rem  +  16.6666666667vw , 5.3125rem )) {
    [class*=__container] {
      padding-left: clamp( 2.8125rem , -9.6875rem  +  16.6666666667vw , 5.3125rem );
    }
}

@supports not (padding-left: clamp( 2.8125rem , -9.6875rem  +  16.6666666667vw , 5.3125rem )) {
    [class*=__container] {
      padding-left: calc(2.8125rem + 2.5 * (100vw - 75rem) / 15);
    }
}

@supports (margin-right: clamp( -5.3125rem , 20.9375rem  +  -29.1666666667vw , -0.9375rem )) {
    .main__image {
      margin-right: clamp( -5.3125rem , 20.9375rem  +  -29.1666666667vw , -0.9375rem );
    }
}

@supports not (margin-right: clamp( -5.3125rem , 20.9375rem  +  -29.1666666667vw , -0.9375rem )) {
    .main__image {
      margin-right: calc(-0.9375rem + -4.375 * (100vw - 75rem) / 15);
    }
}
}

@media (min-width: 20em) and (max-width: 62.49875em) {
@supports (padding-right: clamp( 0.9375rem , 0.9080873702rem  +  0.1470631489vw , 1rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , 0.9080873702rem  +  0.1470631489vw , 1rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.9080873702rem  +  0.1470631489vw , 1rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 0.0625 * (100vw - 20rem) / 42.49875);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.9080873702rem  +  0.1470631489vw , 1rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , 0.9080873702rem  +  0.1470631489vw , 1rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.9080873702rem  +  0.1470631489vw , 1rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 0.0625 * (100vw - 20rem) / 42.49875);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (padding-right: clamp( 2.5rem , -3.7142857143rem  +  12.9464285714vw , 7.9375rem )) {
    .main__body {
      padding-right: clamp( 2.5rem , -3.7142857143rem  +  12.9464285714vw , 7.9375rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -3.7142857143rem  +  12.9464285714vw , 7.9375rem )) {
    .main__body {
      padding-right: calc(2.5rem + 5.4375 * (100vw - 48rem) / 42);
    }
}
}

@media (min-width: 20em) and (max-width: 47.99875em) {
@supports (margin-left: clamp( -1.25rem , -0.7142757489rem  +  -1.1161212554vw , -0.9375rem )) {
    .main__image {
      margin-left: clamp( -1.25rem , -0.7142757489rem  +  -1.1161212554vw , -0.9375rem );
    }
}

@supports not (margin-left: clamp( -1.25rem , -0.7142757489rem  +  -1.1161212554vw , -0.9375rem )) {
    .main__image {
      margin-left: calc(-0.9375rem + -0.3125 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (min-width: 60.625em) and (min-width: 20em) and (max-width: 90em) {
@supports (padding-bottom: clamp( 2.5rem , 0.5714285714rem  +  9.6428571429vw , 9.25rem )) {
    .about__container {
      padding-bottom: clamp( 2.5rem , 0.5714285714rem  +  9.6428571429vw , 9.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.5714285714rem  +  9.6428571429vw , 9.25rem )) {
    .about__container {
      padding-bottom: calc(2.5rem + 6.75 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 60.625em) and (max-width: 20em) {
  .about__container {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (margin-bottom: clamp( 0.3125rem , -0.0892857143rem  +  2.0089285714vw , 0.875rem )) {
    .card-service__icon:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , -0.0892857143rem  +  2.0089285714vw , 0.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.0892857143rem  +  2.0089285714vw , 0.875rem )) {
    .card-service__icon:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.5625 * (100vw - 20rem) / 28);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.0892857143rem  +  2.6785714286vw , 1.375rem )) {
    .card-service__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.0892857143rem  +  2.6785714286vw , 1.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.0892857143rem  +  2.6785714286vw , 1.375rem )) {
    .card-service__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 71.875em) and (min-width: 71.875em) and (max-width: 90em) {
@supports (padding-right: clamp( 2.5rem , -9.6443965517rem  +  16.8965517241vw , 5.5625rem )) {
    .contacts__body {
      padding-right: clamp( 2.5rem , -9.6443965517rem  +  16.8965517241vw , 5.5625rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -9.6443965517rem  +  16.8965517241vw , 5.5625rem )) {
    .contacts__body {
      padding-right: calc(2.5rem + 3.0625 * (100vw - 71.875rem) / 18.125);
    }
}
}

@media (min-width: 71.875em) and (max-width: 71.875em) {
  .contacts__body {
    padding-right: 2.5rem;
  }
}

@media (any-hover: hover) {
  .header__link:hover svg {
    fill: var(--text-secondary);
  }

  .footer__up:hover {
    background-color: var(--bg-primary);
    border-color: var(--bg-secondary);
  }

  .footer__up:hover svg {
    fill: var(--bg-secondary);
  }

  .card-team__name:hover {
    text-decoration: underline;
  }

  .card-team__position:hover {
    text-decoration: underline;
  }

  .form-contacts__line:hover {
    outline: 1px solid var(--bg-secondary);
  }

  .form-contacts__textarea:hover {
    outline: 1px solid var(--bg-secondary);
  }

  .info-contacts__link:hover {
    text-decoration: underline;
  }
}